
.main-image {
  background-image: url("https://katespade.insnw.net/KateSpade/NJMU7138_256?$s7productgrid$");
  max-width: 242px;
  height: 321px;
  margin: auto;
}

.main-image:hover {
  background-image: url("https://katespade.insnw.net/KateSpade/NJMU7138_256_1?$s7productgrid$");
  -webkit-transition:  background-image 1s ease;
-moz-transition:  background-image 1s ease;
-ms-transition:  background-image 1s ease;
-o-transition:  background-image 1s ease;
transition:  background-image 1s ease;
  
}