body {
  background-color:#fff;
}
.header {
  width:100%;
  height:90px;
  display:block;
  
}
.name {
  text-align:center;
  font-family:"Cantarell";
  font-weight:700;
  font-size:30px;
  color:#343436;
}

.intro {
  text-align:center;
  font-family:"Cantarell";
  font-size:20px;
  margin-bottom:1%;  
}

.header h1 {
  font-family:"Cantarell";
  font-size:50px;
  text-align:center;
  color:#00baba;
}


.container {
  width:100%;
  height:auto;
  display:block;
  text-align:center;
}

.image, .image1 {
  position:relative;
  display:inline-block;
  width:auto;
  height:auto;

}

.image1 {
  animation-delay: -0.75; 
  animation-duration: 1s;
}


    .image {
       animation-name: keyframes1;
       animation-iteration-count: infinite;
       transform-origin: 50% 10%;
       animation-delay: -0.75; 
  animation-duration: .8s;
  }
         
@keyframes keyframes1 {
     0% {
       transform: rotate(-1deg);
       animation-timing-function: ease-in;
            }
      50% {
       transform: rotate(1deg); 
       animation-timing-function: ease-out;
            }
        }



.image1 {
            animation-name: keyframes2;
            animation-iteration-count: infinite;
            transform-origin: bottom;
        }
         
  @keyframes keyframes2 {
            0% {
                transform: rotate(-1deg);
                animation-timing-function: ease-in;
            }
    
          
            50% {
                transform: rotate(1deg); 
                animation-timing-function: ease-out;
            }
    
           
        }

